<!-- Main -->
<section id="main" #main style="z-index: 1;">
  <!-- Banner -->
  <section id="banner">
    <!-- Nav -->
    <div class="inner">
      <h1>Hack UNIVPM 2018</h1>
      <p>Invio mail avvenuto con successo!</p>
      <p><img src="../../../../assets/images/mail_image.png"/></p>
      <ul class="actions">
        <li><button pButton label="Torna alla Home" icon="pi pi-home" class="logBtns" (click)="onHome()"></button></li>
      </ul>
    </div>
  </section>

  <!-- Footer -->
  <footer id="footer">
    <div class="copyright">
      &copy; Hack UNIVPM 2018
    </div>
  </footer>

  <!-- Scripts -->
  <script src="../../../../assets/js/jquery.min.js"></script>
  <script src="../../../../assets/js/jquery.poptrox.min.js"></script>
  <script src="../../../../assets/js/jquery.scrolly.min.js"></script>
  <script src="../../../../assets/js/skel.min.js"></script>
  <script src="../../../../assets/js/util.js"></script>
  <script src="../../../../assets/js/main.js"></script>
