@import "../../../../assets/css/main.css";

.options{
  background-color: #f0f0f0;
  color: black;
  padding: 0 0 0 0;
  height: 30px;
  border:1px dotted black;
  border-radius: 20px 20px 20px 20px;
  margin-right: 5px;
}

.options:active {
  background-color: black;
}


.MenuBar {
  border: 8px transparent solid;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: transparent;
  border-radius: 50px 50px 50px 50px;
}

.logBtns {
  background-color: transparent;
  border:1px solid lightgray;
  border-radius: 20px 20px 20px 20px;
  padding: 0 5px 0 5px;
}

.Bigbtn {
  width: 200px;
  height: 50px;
  border-radius: 50px 50px 50px 50px;
  background-color: transparent;
  border: 1px dotted black;
  color: black;
}

button {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

