<p-sidebar [(visible)]="display" position="right" [baseZIndex]="10000" [dismissible]="false" [showCloseIcon]="false">
  <div>
    <h1 style="font-weight:normal">Add Sale</h1>

    <form [formGroup]="form">
      <div class="form-group">
        <span class="ui-float-label" style="margin-bottom: 16px">
          <input formControlName="title" id="float-input" type="text" size="30" pInputText>
          <label for="float-input">Title</label>
        </span>

        <span class="ui-float-label" style="margin-bottom: 10px">
          <input formControlName="prod" type="text" size="30" pInputText>
          <label for="float-input">Product</label>
        </span>

              <p-dropdown [options]="groupedCity" [style]="{'width':'150px'}" placeholder="Select a City" [group]="true" formControlName="selectedCity" style="margin-bottom: 10px">
                <ng-template let-group pTemplate="group">
                  <span style="margin-left:.25em">{{group.label}}</span>
                </ng-template>
              </p-dropdown>
              <br>
              <br>

        <span class="ui-float-label" style="margin-bottom: 10px">
          <input formControlName="address" type="text" size="30" pInputText>
          <label for="float-input">Address</label>
        </span>
      </div>
    </form>


    <button pButton type="button" (click)="saveSale()" label="Save" class="ui-button-success" icon="pi pi-save" style="margin-right: 5px" [disabled]="!form.valid"></button>
    <button pButton type="button" (click)="resetSale()" label="Reset" class="ui-button-danger" icon="pi pi-replay" style="margin-right: 5px"></button>
    <button pButton type="button" (click)="closeAddSale()" icon="pi pi-chevron-right" class="ui-button-secondary"></button>
  </div>

</p-sidebar>
