
<mat-drawer-container class="container">

  <mat-drawer #drawer [opened]="true" class="sidenav" mode="side">
    <div id="drawer-profile" align="center">
      <img class="profile-icon-sidebar" [src]="profilePics" height="90px">
      <h4>{{name}}</h4>
    </div>
    <br>
    <br>

    <p-slideMenu [model]="items" [style]="{'width':'100%', 'border-color':'transparent'}" [viewportHeight]="200"
                 [menuWidth]="250"></p-slideMenu>

  </mat-drawer>

  <div id="search-autocomplete">
    <p-toolbar>

      <div class="ui-toolbar-group-left">
        <img *ngIf="displaySidebarToggle" class="profile-icon" [src]="profilePics"
             (click)="drawer.toggle(); displaySidebarToggle = !displaySidebarToggle" height="30px">
        <button id="profile-button" *ngIf="!displaySidebarToggle" pButton icon="fa fa-2x fa-angle-left"
                class="ui-button-secondary"
                (click)="drawer.toggle(); displaySidebarToggle = !displaySidebarToggle"></button>

      </div>


      <div class="ui-toolbar-group-right">
        <button pButton type="button" label="Logout" class="ui-button-rounded ui-button-danger" icon="pi pi-power-off"
                (click)="logout()"></button>
      </div>

    </p-toolbar>

    <app-users-search (displaySearch)="openSearchResult($event)"></app-users-search>
  </div>

  <!--Tabelle di vendita/acquisti e grafici relativi-->
  <div class="ui-g">
    <div class="ui-g-6">
      <p-card>
        <p-header>
          <h5>
            Tabella Vendite
          </h5>
        </p-header>
       <p-table>
         <ng-template pTemplate="header">
         <tr>
           <th>Prodotto</th>
           <th>Data</th>
           <th>Luogo</th>
           <th>Prezzo</th>
         </tr>
         </ng-template>
       </p-table>
      </p-card>
    </div>
    <div class="ui-g-6">
      <p-card>
        <p-header>
          <h5>
            Grafico Vendite
          </h5>
        </p-header>
        <p-chart type="polarArea" [data]="dataVendite"></p-chart>
      </p-card>
    </div>
    <div class="ui-g-6">
      <p-card>
        <p-header>
          <h5>
            Tabella Acquisti
          </h5>
        </p-header>
        <p-table>
          <ng-template pTemplate="header">
            <tr>
              <th>Prodotto</th>
              <th>Data</th>
              <th>Luogo</th>
              <th>Prezzo</th>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
    <div class="ui-g-6">
      <p-card>
        <p-header>
          <h5>
            Grafico Acquisti
          </h5>
        </p-header>
        <p-chart type="radar" [data]="dataAcquisti"></p-chart>
      </p-card>
    </div>
  </div>
</mat-drawer-container>

<!-- Overlay Components -->
<p-toast [style]="{marginTop: '30px'}"></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-sidebar [fullScreen]="true" [visible]="searchSide" (onHide)="searchSide = false">
  <h1>Products for '{{search?.Product}}' in '{{search?.selectedCity}}'</h1>
  <p-pickList [source]="availProds" [target]="selectedProds" [responsive]="true">
    <ng-template let-availProds pTemplate="item">
      <div class="ui-helper-clearfix">
        <img src="assets/images/prods/{{search?.Product}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">
        <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{availProds?.name_prod}} - {{availProds?.title}} - {{availProds?.send_type}}</div>
      </div>
    </ng-template>
  </p-pickList>
</p-sidebar>
<app-user-new-sale [display]="displayNewSale" (close)="displayNewSale=false"></app-user-new-sale>
<!---->
