<!--<p-sidebar [visible]="displaySidebar" [modal]="false" (onHide)="displaySidebar=false" [showCloseIcon]="false" [style]="{'background' : '#f4f4f4', 'border-radius':'0 5px 5px 0'}">

</p-sidebar>-->
<mat-drawer-container class="container">

  <mat-drawer #drawer [opened]="true" class="sidenav" mode="side">
    <div id="drawer-profile" align="center">
      <img class="profile-icon-sidebar" [src]="profilePics" height="90px">
      <h4>{{name}}</h4>
    </div>
    <br>
    <br>

    <p-slideMenu [model]="items" [style]="{'width':'100%', 'border-color':'transparent'}" [viewportHeight]="200" [menuWidth]="250"></p-slideMenu>

  </mat-drawer>

  <div id="search-autocomplete">
    <p-toolbar >

      <div class="ui-toolbar-group-left">
        <img *ngIf="displaySidebarToggle" class="profile-icon" [src]="profilePics"
            (click)="drawer.toggle(); displaySidebarToggle = !displaySidebarToggle" height="30px">
        <button id="profile-button" *ngIf="!displaySidebarToggle" pButton icon="fa fa-2x fa-angle-left" class="ui-button-secondary"
                (click)="drawer.toggle(); displaySidebarToggle = !displaySidebarToggle" ></button>

      </div>


      <div class="ui-toolbar-group-right">
         <button pButton type="button" label="Logout" class="ui-button-rounded ui-button-danger" icon="pi pi-power-off" (click)="logout()"></button>
      </div>

    </p-toolbar>

    <app-users-search (displaySearch)="test($event)"></app-users-search>
  </div>

  <!--Tabelle di vendita/acquisti e grafici relativi-->
  <div class="ui-g">
    <div class="ui-g-6">
        <p-card>
          <p-header>
            <h5>
              Tabella Vendite
            </h5>
          </p-header>
          Body Content
          <p-footer>
            Footer content here
          </p-footer>
        </p-card>
    </div>
    <div class="ui-g-6">
      <p-card>
        <p-header>
          <h5>
            Grafico Vendite
          </h5>
        </p-header>
        Body Content
        <p-footer>
          Footer content here
        </p-footer>
      </p-card>
    </div>
  <div class="ui-g-6">
    <p-card>
      <p-header>
        <h5>
          Tabella Acquisti
        </h5>
      </p-header>
      Body Content
      <p-footer>
        Footer content here
      </p-footer>
    </p-card>
  </div>
  <div class="ui-g-6">
    <p-card>
    <p-header>
      <h5>
        Grafico Acquisti
      </h5>
    </p-header>
    Body Content
    <p-footer>
      Footer content here
    </p-footer>
  </p-card>
  </div>
</div>

</mat-drawer-container>

<!-- Overlay Components -->
<p-toast [style]="{marginTop: '30px'}"></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-user-new-sale [display]="displayNewSale" (close)="displayNewSale=false"></app-user-new-sale>
<!---->
